body {
    margin: 0;
    padding: 0;
    /*background-color: #3d3f46;*/
    animation: fadeIn 0.3s;
}

button {
    margin: 0 5px 0 5px;
    padding: 5px;
    transition: 0.3s;
}

textarea {
    outline: none;
}

.codeEditor {
    width: 75vw;
    height: 500px;
}

textarea:focus {
    outline: none;
}

.dangerButton {
    transition: 0.3s;
}

input:focus {
    outline: none;
}