:root {
    --sidebar-size: 40px;
}

.main {
    margin-left: calc(var(--sidebar-size) + 20px);
    position: absolute;
}

.main>div {
    display: none;
}

.tippy-box {
    z-index: 1000000000000;
}

.sidebar {
    width: var(--sidebar-size);
    height: 100%;
    position: fixed;
    /*background-color: #1c1d20;*/
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 1000;
}

.sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.sidebar-bottom {
    bottom: 5px;
    left: 0;
    position: absolute;
    background-color: #e3e2df;;
}

.icon {
    width: 28px;
    padding: 2px;
    border-radius: 10px;
}

.icon:active {
    padding: 5px;
    width: 22px;
}

.sidebar>img,
.sidebar>div>img {
    filter: invert(1);
    width: calc(calc(var(--sidebar-size) - 10px));
    margin: 2px;
    margin-left: 4px;
    margin-right: 0px;
    transition: 0.3s;
}

.sidebar>button,
.sidebar>div>button {
    border-radius: 5px;
    border-style: none;
    border-width: 0;
    margin: 3px;
    width: calc(100% - 16px);
    margin-left: 8px;
    background-color: inherit;
}

.sidebar>div>label {
    padding: 10px;
}

.footer {
    bottom: 0;
    left: var(--sidebar-size);
    width: 100vw;
    max-height: 50px;
    position: fixed;
}

.footer>p {
    margin: 5px;
}

.botLabelSidebar {
    max-width: var(--sidebar-size);
    height: 32px;
    overflow: hidden;
}