<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://rawcdn.githack.com/nextapps-de/winbox/0.2.6/dist/winbox.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" />

  <script src="js/script.js"></script>
  <script src="js/window_manager.js"></script>
  <script src="js/bot_manager.js"></script>
  <script src="js/htmlTemplates.js"></script>
  <script src="js/command_manager.js"></script>
  <script src="js/bot_settings.js"></script>
  <script src="js/alerting.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/windows.css">
</head>
<body>
  <div class="fullscreen-modal">
    <div>
      <i class="fa fa-spinner fa-spin fa-2xl"></i><br>
      <label>Loading</label>
    </div>
  </div>
  <div class="sidebar">
    <button onclick="initiateBotCreation()">nbot</button>
    <button onclick="windowManager.closeAllWindows();">cls</button>
  </div>
  <div class="main">
    hello
  </div>
</body>
<script>
</script>
</html>