<h1>Create a new bot</h1>
<p>Ready to create your brand new bot?</p>
<h2>Important details</h2>
<p>First of all, all bots need names, so let's get yours set:</p>
<input placeholder="My Amazing bot" id="bot_creation-bot_name">
<p>Next, we need your Discord bot's token</p>
<input placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" id="bot_creation-bot_token" type="password">
<button id="bot_creation-create_button" class="jumbo-button primary" onclick="botManager.createBot()">Create!</button>