<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SCRIPTS -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="sw/sweetalert2.all.min.js"></script>
    <script src="js/commandEditor.js"></script>
    <script src="js/commandManager.js"></script>
    <script src="js/ipcEvents.js"></script>
    <script src="js/script.js"></script>
    <script src="js/botManager.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/actions.js"></script>
    <script src="js/eventManager.js"></script>
    <script src="js/resourceManager.js"></script>
    <script src="js/ctxmenu.js"></script>
    <script src="js/externalManager.js"></script>
    <script src="js/packages.js"></script>
    <script src="js/codeEditor.js"></script>
    <!-- STYLE SHEETS -->
    <link rel="stylesheet" href="sw/sweetalert2.css">
    <link rel="stylesheet" href="css/actions.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/containers.css">
    <link rel="stylesheet" href="css/elements.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/themes/dark.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" />
</head>

<body>
    <div class="sidebar">
        <img src="image/icon/home.png" data-onsidebar data-div-change="home">
        <img src="image/icon/settings.png" data-onsidebar data-div-change="appSettings">
        <img src="image/icon/article.png" data-onsidebar data-div-change="faqList">
        <img src="image/icon/bot.png" data-onsidebar data-div-change="changeBot">
        <img src="image/icon/globe.png" data-onsidebar data-div-change="external">
        <img src="image/icon/analytics.png" data-onsidebar data-div-change="log">
        <img src="image/icon/package.png" data-onsidebar data-div-change="packages">
        <img src="image/icon/insights.png" data-onsidebar data-div-change="insights">
        <img src="image/icon/error.png" data-onsidebar data-div-change="errors">

        <div style="display: none;">
            <button data-lang="sidebar.home" data-onsidebar data-div-change="home">Home</button>
            <button data-lang="sidebar.settings" data-onsidebar data-div-change="appSettings">Settings</button>
            <button data-onsidebar data-div-change="faqList">Articles</button>
            <button data-lang="sidebar.bots" data-onsidebar data-div-change="changeBot"
                id="sidebarBotsButton">Bots</button>
            <button data-lang="sidebar.log" data-onsidebar data-div-change="log">Log</button>
        </div>

        <div id="botSidebarButtons">
            <hr data-onsidebar style="box-shadow: -5px -5px 10px 1px black">
            <center data-onsidebar>
                <b style="font-size: 12px;" id="sideBar-botID">Bot Stuff</b>
            </center><br>
            <img src="image/icon/actions.png" data-onsidebar data-div-change="actions">
            <img src="image/icon/terminal.png" data-onsidebar data-div-change="botCommads">
            <img src="image/icon/event.png" data-onsidebar data-div-change="events">
            <img src="image/icon/function.png" data-onsidebar data-div-change="functions">
            <img src="image/icon/variables.png" data-onsidebar data-div-change="botVariables">
            <img src="image/icon/category.png" data-onsidebar data-div-change="resources">
            <img src="image/icon/database.png" data-onsidebar data-div-change="database">
            <img src="image/icon/admin.png" data-onsidebar data-div-change="permissions">
            <img src="image/icon/extension.png" data-onsidebar data-div-change="plugins">
            <img src="image/icon/sync.png" id="sidebar-sync" data-onsidebar data-div-change="sync">
            <img src="image/icon/settings.png" data-onsidebar data-div-change="settings">
            <img src="image/icon/info.png" data-onsidebar data-div-change="details">

            <div style="display: none">
                <center data-onsidebar class="botLabelSidebar">
                    <b id="sideBar-botID">Bot Stuff</b>
                </center><br>
                <button data-lang="sidebar.bot.actions" data-onsidebar data-div-change="actions">Actions</button>
                <button data-lang="sidebar.bot.commands" data-onsidebar data-div-change="botCommads">Commands</button>
                <button data-onsidebar data-div-change="events">Events</button>
                <button data-lang="sidebar.bot.variables" data-onsidebar
                    data-div-change="botVariables">Variables</button>
                <button data-lang="sidebar.bot.resources" data-onsidebar data-div-change="resources">Resources</button>
                <button data-lang="sidebar.bot.database" data-onsidebar data-div-change="database">Database</button>
                <button data-lang="sidebar.bot.permissions" data-onsidebar
                    data-div-change="permissions">Permissions</button>
                <button data-lang="sidebar.bot.settings" data-onsidebar data-div-change="settings">Settings</button>
                <button data-lang="sidebar.bot.details" data-onsidebar data-div-change="details">Details</button>
            </div>
            <hr class="sidebar-button" style="box-shadow: -5px 5px 10px 1px black">
        </div>
        <img style="display: none" src="image/icon/back.png" onclick="sidebarBack()" data-onsidebar class="sidebar-bottom">
        <!--<button id="sidebar-back" class="sidebar-bottom" data-onsidebar onclick="sidebarBack()"></button>-->
    </div>

    <div class="main">
        <!-- APPLICATION DIVS -->

        <div data-div-id="home" style="display: block;">
            <h1>Home</h1>
            <p>Welcome to Electron Discord Bot Maker!</p>
            <img src="image/icon.png" style="width: 150px">
            <p>This application allows you to easily create your very own Dicord bot which can do anything you want it
                to do!
                <br>
                This is still work in progress and not all features are completed / added yet
                <br>
                Have a suggestion? Please tell me on Discord by looking <button
                    onclick="window.electron.showAbout()">here</button>
            </p>
            <p>
                For a quick and easy tutorial on how to get started using this application, check out <button
                    onclick="showFAQ('tutorial')">This article</button>
            </p>
        </div>

        <div class="modal" style="display: none;" id="image-viewer"
            onclick="document.getElementById('image-viewer').style.display = 'none';">
            <div class="container-no-background"
                onclick="document.getElementById('image-viewer').style.display = 'none';">
                <img style="width: 75%" id="image-viewer-img"
                    onclick="document.getElementById('image-viewer').style.display = 'none';">
            </div>
        </div>

        <div data-div-id="faqList">
            <h1>Artile List</h1>
            <p>Click on any of the folowing articles to learn about it</p>
            <div id="faqList"></div>
        </div>

        <div data-div-id="appSettings">
            <h1 data-lang="settings.header">Application Settings</h1>
            <div>
                <table>
                    <tr>
                        <td><input onchange="updateSetting('showInformationalAlerts', this.checked);" type="checkbox"
                                id="appSettings-showInformation">
                            <label data-lang="settings.informational-alerts">Show informational alerts</label></td>
                        <td><button data-lang="settings.example"
                                onclick="showInfo('Example information');">Example</button></td>
                    </tr>
                    <tr>
                        <td><input onchange="updateSetting('showNotifications', this.checked)" type="checkbox"
                                id="appSettings-showNotification">
                            <label data-lang="settings.notifications">Show Notifications</label></td>
                        <td><button data-lang="settings.example"
                                onclick="notification('Example Notification');">Example</button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"><label>Remember last page you was on</label></td>
                    </tr>
                </table>
            </div>
            <br>
            <input id="appSettings-useActionCode" type="checkBox" onclick="console.log('a');localStorage.setItem('useActionCode', this.checked);actionCodeMode=this.checked"><label>Use Action Code (EXPERIMENTAL)</label>
            <br><br>
            <button data-tooltip="Restart the application" data-lang="settings.restart" data-nodisable
                onclick="document.body.classList.add('fadeOut');window.electron.restartApp()">Restart</button>
            <button
                data-tooltip="Sometimes when your doing actions such as starting or stopping a bot, all buttons will be disabled so that things have a less chance of breaking.<br><br>Sometimes though, this itself may break, so this button will enable all buttons despite being disabled."
                data-lang="settings.force-enable-buttons" data-nodisable onclick="enableAll()">Force Enable
                Buttons</button>
            <button onclick="window.electron.createLogFile()">Create Log</button>
            <h2>Performance</h2>
            <input type="checkbox"><label>Disable unnecessary features to help with RAM/CPU usage</label><br><br>
            <table>
                <tr>
                    <td><label>Process RAM:</label></td>
                    <td><progress id="appSettngs-processRam"></progress></td>
                    <td><label id="appSettings-processRam-text"></label></td>
                </tr>
                <tr>
                    <td><label>Computer RAM:</label></td>
                    <td><progress id="appSettngs-globalRam"></progress></td>
                    <td><label id="appSettings-globalRam-text"></label></td>
                </tr>
            </table>
            <h2>About</h2>
            <label data-lang="settings.about" id="appSettings-version"></label><button
                onclick="window.electron.showAbout()">About</button>
        </div>

        <div data-div-id="log">
            <h1 data-lang="log.header">All of your bot's log</h1>
            <b data-lang="log.select">Select what you want to see:</b><br>
            <input type="checkbox" id="log-checkboxGeneralLog"
                onchange="updateSetting('generalLog', this.checked);"><label data-lang="log.type.general">General Log
                (blue)</label><br>
            <input type="checkbox" id="log-checkboxBotEvents"
                onchange="updateSetting('botEvents', this.checked);"><label data-lang="log.type.bot-events">Bot events
                (orange)</label><br>
            <input type="checkbox" id="log-checkboxBotDebug" onchange="updateSetting('botDebug', this.checked);"><label
                data-lang="log.type.bot-debug">Bot debug (green)</label>
            <p id="actionLog" class="actionLog"></p>
            <button data-lang="log.button.clear-log" onclick="window.electron.clearLog(); reloadTo('log')"
                class="dangerButton">Clear Log</button>
        </div>
        
        <div data-div-id="packages">
            <h1>Your packages</h1>
            <p>Add packages to enhance your Discord Bot Maker experience</p>
            <p>Structure:</p>
            <div class="inline-comment">
                package name
                <div class="inline-comment">
                    <div class="inline-comment">
                        package description
                    </div>
                    module name
                    <div class="inline-comment">
                        <div class="inline-comment">
                            module description
                        </div>
                        action name
                        <div class="inline-comment">
                            description<br>
                            events it can be used in<br>
                            parameters, blue = parameter type, orange = allowed values<br>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Installed</h2>
            <p>Installed packages which you can use right now</p>
            <button onclick="loadPackages()">Reload Package List</button>
            <button onclick="loadNewPackage()">Install Package</button>
            <div id="packages-installed"></div>
            <h2>Online</h2>
            <p>Install packages online</p>
        </div>
        
        <div data-div-id="changeBot">
            <h1>Bot Manager</h1>
            <div class="warning-alert" id="botManager-noBots-alert" style="display: none;">
                <b>No bots</b>
                <p>It seems like you have not created a bot yet, why not create one now?</p>
            </div>
            <p>Create a bot, delete a bot or change bot selection to another one.</p>
            <button onclick="showDiv('botCreator')">Create a new bot</button>
            <button onclick="importBot()">Import a bot</button>
            <div>
                <h2>Your bots</h2>
                <p id="botManager-botList">None</p>
            </div>
            <div id="changeBot-botStatuses">
                <h2>Bot Statuses</h2>
                <p id="runningBots"></p>
            </div>
            <h2 id="changeBot-external-header" style="display: none">External</h2>
            <p id="external-runningBots"></p>
        </div>

        <div data-div-id="external">
            <h1>External Server</h1>
            <p>Host your bot on an external server, such as a different computer of yours.</p>
            <p>This feature is so your personal computer does not have to be on 24/7 for your bot to be online, so why
                not host it on some old computer or VPS?</p>
            <p>Click <button onclick="showFAQ('external')">here</button> to learn how to set it up.</p>
            <h2>Details</h2>
            <table>
                <tr>
                    <td>
                        <label>IP:</label>
                    </td>
                    <td>

                        <input type="url" id="external-url">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Port:</label>
                    </td>
                    <td>
                        <input type="text" id="external-port">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="external-https" checked>
                    </td>
                    <td>
                        <label>Use HTTPS?</label>
                    </td>
                </tr>
            </table>
            <br>
            <button onclick="checkExternal()">Check</button><button onclick="saveExternal()">Save</button>
            <button onclick="deleteExternal()" class="dangerButton" id="external-delete">Delete</button><br>
            <p id="external-info"></p>
            <h2>Quick</h2>
            <button onclick="toggleExternalFetcher()" id="external-toggle-fetcher">Stop Tying To Connect</button>
        </div>

        <div data-div-id="settings">
            <h1>Settings</h1>
            <p>Change settings about the selected bot</p>
            <h2>General Settings</h2>
            <div>
                <label>Prefix: </label>
                <input id="settings-prefix">
                <i data-tooltip="The prefix that your commands will start with, examples: !ping ?help"
                    class="material-icons">question_mark</i>
            </div>
            <h2>Authorisation</h2>
            <div>
                <label>Token: </label>
                <input id="settings-token">
                <i data-tooltip="The token is needed to login to your discord bot. Read how to get it from %faq:discord_token%"
                    class="material-icons">question_mark</i>
            </div><br>
            <button onclick="saveBotSettings();">Save all changes</button>
        </div>

        <div data-div-id="botCreator">
            <h1>Bot Creator</h1>
            <p>Let's get your bot created!</p>
            <h2>Give it a name</h2>
            <p>First of all, what do you want it to be called within the app so you can easily recognise it?</p>
            <input onkeyup="validate(this, /.{1,}/)" id="botCreator-botInAppID">
            <h2>Token</h2>
            <p>Next, please provide your bot's token, you can learn how to get that <button
                    onclick="showFAQ('discord_token')">Here</button></p>
            <input onkeyup="validate(this, /[\w-]{24}\.[\w-]{6}\.[\w-]{27}/)" id="botCreator-token">
            <h2>Done?</h2>
            <button onclick="createBot();">Finish Creating</button>
            <p id="botCreator-info"></p>
        </div>

        <div data-div-id="details">
            <h1>Bot's Details</h1>
            <table>
                <tr>
                    <td><img class="pfp" style="max-width: 128px" id="details-pfp"></td>
                    <td>
                        <p style="font-size: 32px; margin: 10px;" id="details-name"></p>
                    </td>
                </tr>
            </table>
            <p>Remaining starts: <label id="details-startRateLimitRemaining"><i>?</i></label> / <label
                    id="details-startRateLimitTotal"><i>?</i></label>
                <i data-tooltip="This is NOT a restriction made by the app, but rather Discord, this means that you have a set amount of times you can start your bot until you can no longer. This is to stop spam on Discord's servers. This counter will reset every 24 hours. (See only question marks? This statistic only appears when you start the bot and dissapears when you reload the page.)"
                    class="material-icons">question_mark</i>
            </p>
        </div>

        <div data-div-id="faqViewer" id="faqViewer"></div>

        <!-- BOT MANAGER DIVS -->
        <div data-div-id="database">
            <h1><label data-lang="database.header">Database</label></h1>
            <p><label data-lang="database.info">Store key-value data here, learn more </label> <button
                    data-lang="button.here" onclick="showFAQ('database');">here</button></p>
            <button onclick="addDatabaseItem()">New Item</button>
            <h2>The List</h2>
            <div id="database-list"></div>
        </div>

        <div data-div-id="sync">
            <h1>Sync settings with external host</h1>
            <p>Select the following settings you would like to sync with the external server</p>
            <table>
                <tr>
                    <th>Transfer data</th>
                    <th>Choose what is transferred when "run on external" is pressed</th>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <th>To Server</th>
                                <th>From Server</th>
                            </tr>
                            <tr>
                                <td><button onclick="extSync('to:database');">Database</button></td>
                                <td><button onclick="extSync('from:database');">Database</button></td>
                            </tr>
                            <tr>
                                <td><button onclick="extSync('to:commands');">Commands</button></td>
                                <td><button onclick="extSync('from:commands');">Commands</button></td>
                            </tr>
                            <tr>
                                <td><button onclick="extSync('to:resources');">Resources</button></td>
                                <td><button onclick="extSync('from:resources');">Resources</button></td>
                            </tr>
                            <tr>
                                <td><button onclick="extSync('to:events');">Events</button></td>
                                <td><button onclick="extSync('from:events');">Events</button></td>
                            </tr>
                            <tr>
                                <td><button onclick="extSync('to:all');">All Data</button></td>
                                <td><button onclick="extSync('from:all');">All Data</button></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td><input type="checkbox" checked><label>Commands</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked><label>Events</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked><label>Resources</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"><label>Database</label></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div data-div-id="resources">
            <h1>Bot Resources</h1>
            <p>Here you can upload files, music, message embeds, etc. for use in your bot!</p>
            <h2>Embeds</h2>
            <p>Click on an embed to edit it, right click to delete one, or create a new one.</p>
            <button onclick="newEmbed()">New Embed</button><br><br>
            <div id="embedList"></div>
        </div>

        <div data-div-id="functions">
            <h1>Functions</h1>
            <p>Create a function so you don't have to repeat actions over and over again.</p>
            <p>These work the same as commands, but they can be ran from any other action.</p>
            <h2>Your Functions</h2>
        </div>

        <div data-div-id="botCommads" style="display: none;">
            <h1 data-lang="commands.header">Command Manager</h1>
            <button data-lang="commands.create-command" onclick="newCommand()">Create Command</button>
            <h2 data-lang="commands.header.commandList">Command List</h2>
            <div id="commandList"></div>
        </div>

        <div data-div-id="botVariables">
            <h1>Bot's Variables</h1>
            <p>Define variables for your bot here!</p>
            <p>Learn more about predefined variables <button onclick="showFAQ('predefined_variables')">here</button></p>
        </div>

        <div data-div-id="events">
            <h1>Events</h1>
            <p>These are like commands but they are ran when a certain thing happens in a server. For example when a
                message is edited, a role is created etc.</p>
            <table iv id="eventList"></table>
        </div>

        <div class="modal" style="display: none;" id="editAction">
            <div class="container" data-enter-send="editAction-confirm">
                <h1>Edit Action</h1>
                <label>Select which action you want this to do: </label><br>
                <select id="editAction-type" onchange="updateEditActionSelection()">

                </select>
                <p id="editAction-details"></p>
                <div class="editAction-inputs" id="editAction-inputs">
                </div>
                <label style="color: red" id="editAction-input-error"></label>
                <div class="container-buttons">
                    <button class="dangerButton" onclick="cancelActionCreation()">Cancel</button>
                    <button data-enter-recieve="editAction-confirm" onclick="saveAction();">Save</button>
                </div>
            </div>
        </div>

        <div data-div-id="editEvent">
            <h1>Edit Event</h1>
            <i>Editing: <label id="editEvent-type"></label></i>
            <h2>Actions</h2>
            <p>Actions that will be executed once this event is triggered</p>
            <div id="event-actionList" class="actionListContainer">
            </div>
            <button id="event-actionList-addAnother" onclick="addAnotherAction();">Add another action</button>
            <h2>Finish</h2>
            <button class="goodButton" onclick="createTheEvent()">Create</button>
            <button class="dangerButton" onclick="current=[];updateList()">Clear</button>
        </div>

        <div data-div-id="newCommand">
            <h1>Create a new command</h1>
            <h2>Information</h2>
            <p>General information for this command</p>
            <div>
                <label>Command Name: </label>
                <input onkeyup="validate(this, /.{1,1000}/);" id="newCommand-commandName">
                <br>
                <div class="inline-comment">
                    <label>The comment for this command. <i>This is purely for you and has 0 affect on your
                            bot.</i></label><br>
                    <textarea id="newCommand-comment"></textarea>
                </div>
                <p>Select which command mode this is (learn more <button
                        onclick="showFAQ('command-types')">here</button>): </p>
                <input type="radio" id="newCommand-commandType-prefix" name="newCommand-commandType" value="prefix"
                    checked>
                <label for="newCommand-commandType-prefix">Prefix</label><br>
                <input disabled type="radio" id="newCommand-commandType-contains" name="newCommand-commandType"
                    value="contains">
                <label for="newCommand-commandType-contains">Contains</label><br>
                <input type="radio" id="newCommand-commandType-new-message" name="newCommand-commandType"
                    value="new-message">
                <label for="newCommand-commandType-contains">Message Sent</label>
            </div>
            <div>
                <p>Other Settings</p>
                <input type="checkbox" id="newCommand-allowInDms">
                <label>Can be used in DMs? </label>
            </div>
            <div>
                <input type="checkbox" id="newCommand-ignoreBots" checked>
                <label>Ignore Bots? </label>
            </div>
            <h2>Actions</h2>
            <p>Actions that will be executed once this command is ran</p>
            <div id="newCommand-actionList" class="actionListContainer">
            </div>
            <button id="newCommand-actionList-addAnother" onclick="addAnotherAction();">Add another action</button>
            <h2>Finish</h2>
            <button onclick="createCommand()">Create Command</button>
            <button class="dangerButton" onclick="resetNewCommandsDiv()">Reset Command</button>
        </div>

        <div data-div-id="plugins">
            <h1>You're plugins</h1>
            <p>Plugins allow easy extensibility of your bot, allowing you to add advanced features quickly without you having to make the actions yourself!</p>
        </div>

        <div data-div-id="actions">
            <h2>Quick Actions</h2>
            <p id="botQuickActions"></p>
            <button id="botQuickActions-startButton" class="goodButton" onclick="startBot()">Start Bot</button>
            <button id="botQuickActions-restartButton" class="dangerButton" onclick="restartBot()">Restart
                Bot</button><br><br>
            <h2>Admisitrative Actions</h2>
            <button onclick="renameBot()">Rename Bot</button>
            <button onclick="backup(currentBotName)">Backup Bot</button>
            <button class="dangerButton" onclick="deleteBot(currentBotName);">Delete Bot</button>
        </div>

        <br><br><br>
        <div class="footer" id="footer" style="display: block;">
            <p id="footerInfo">Info will appear here...</p>
        </div>
    </div>
</body>

</html>